# Virtual environment files
.venv/

# Environment variables
.env

# Test cache files
__pytest_cache__/
__pycache__/
.coverage

# Terraform backend files
terraform-backend/.terraform/
terraform-backend/terraform.tfstate
terraform-backend/terraform.tfstate.backup
terraform-backend/.terraform.lock.hcl
terraform-backend/terraform.tfvars

# same for terraform-main
terraform-main/.terraform/
terraform-main/terraform.tfstate
terraform-main/terraform.tfstate.backup
terraform-main/.terraform.lock.hcl
terraform-main/terraform.tfvars

# Docker cache
.docker/

*.bak