# Virtual environment files
.venv/

# Environment variables
.env

# Test cache files
__pytest_cache__/
__pycache__/
.coverage

# Terraform local files
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/.terraform.lock.hcl

# Docker cache
.docker/
