{% extends 'base.html' %} {% block content %}
<div class="main">
  <div class="posts-list">
    <h2>All Posts</h2>
    {% if posts %}
      <ul class="post-items">
        {% for post in posts %}
        <li class="post-item">
          <a href="{{ url_for('post', filename=post.filename) }}">{{ post.title }}</a>
          <p>{{ post.preview }}</p>
          <hr>
        </li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="no-posts">No posts available.</p>
    {% endif %}
  </div>
</div>
{% endblock %}
